[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
whir_verifier_solana = "AnycMJFRbi6gLYUtLH9YGVcE9F7PxnC1BijCWQMM3h9a"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = ".wallet/wallet-key.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
